.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 0 20px;
  margin-top: 20px;
}

.item {
  display: flex;
  justify-content: space-between;

  &:not(:first-child) {
    margin-top: 5px;
  }

  background-color: #f0f0f5;
}

.headLoader {
  position: absolute;
  right: 140px;
}

.head {
  position: relative;
  display: flex;
  justify-content: center;
}

.button {
  display: block;
  width: 55px;
  height: 21px;
}
